.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: white;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.storybook-button--primary {
  /* color: white; */
  background-color: #2e90e5;
}
.storybook-button--danger {
  background-color: #ff4858;
}
.storybook-button--success {
  background-color: #39db39;
}
.storybook-button--warning {
  background-color: #ffd33a;
}
.storybook-button--default {
  background-color: #383b3d;
}
/* .storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
} */
.storybook-button--small {
  font-size: 10px;
  padding: 10px 16px;
  height: 23px;
}
/* .storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
} */
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
  height: 28px;
}

.button-outline--primary {
  color: #2e90e5;
  border: 2px solid #2e90e5;
  background-color: transparent;
}
.button-outline--danger {
  color: #ff4858;
  border: 2px solid #ff4858;
  background-color: transparent;
}
.button-outline--success {
  color: #39db39;
  border: 2px solid #39db39;
  background-color: transparent;
}
.button-outline--warning {
  color: #ffd33a;
  border: 2px solid #ffd33a;
  background-color: transparent;
}
.button-outline--default {
  color: #383b3d;
  border: 2px solid #383b3d;
  background-color: transparent;
}

.button--primary--lighter {
  background-color: #33a0ff;
}
.button--danger--lighter {
  background-color: #ff6875;
}
.button--success--lighter {
  background-color: #6de26d;
}
.button--warning--lighter {
  background-color: #ffda58;
}
.button--default--lighter {
  background-color: #4f5355;
}

.button--primary--darker {
  background-color: #2678bf;
}
.button--danger--darker {
  background-color: #ff4252;
}
.button--success--darker {
  background-color: #0ad00a;
}
.button--warning--darker {
  background-color: #ffc600;
}
.button--default--darker {
  background-color: black;
}

.button--icon {
  background-color: #c1c8ce;
  color: #33a0ff;
}
