*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: white;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.storybook-button--primary {
  /* color: white; */
  background-color: #2e90e5;
}
.storybook-button--danger {
  background-color: #ff4858;
}
.storybook-button--success {
  background-color: #39db39;
}
.storybook-button--warning {
  background-color: #ffd33a;
}
.storybook-button--default {
  background-color: #383b3d;
}
/* .storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
} */
.storybook-button--small {
  font-size: 10px;
  padding: 10px 16px;
  height: 23px;
}
/* .storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
} */
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
  height: 28px;
}

.button-outline--primary {
  color: #2e90e5;
  border: 2px solid #2e90e5;
  background-color: transparent;
}
.button-outline--danger {
  color: #ff4858;
  border: 2px solid #ff4858;
  background-color: transparent;
}
.button-outline--success {
  color: #39db39;
  border: 2px solid #39db39;
  background-color: transparent;
}
.button-outline--warning {
  color: #ffd33a;
  border: 2px solid #ffd33a;
  background-color: transparent;
}
.button-outline--default {
  color: #383b3d;
  border: 2px solid #383b3d;
  background-color: transparent;
}

.button--primary--lighter {
  background-color: #33a0ff;
}
.button--danger--lighter {
  background-color: #ff6875;
}
.button--success--lighter {
  background-color: #6de26d;
}
.button--warning--lighter {
  background-color: #ffda58;
}
.button--default--lighter {
  background-color: #4f5355;
}

.button--primary--darker {
  background-color: #2678bf;
}
.button--danger--darker {
  background-color: #ff4252;
}
.button--success--darker {
  background-color: #0ad00a;
}
.button--warning--darker {
  background-color: #ffc600;
}
.button--default--darker {
  background-color: black;
}

.button--icon {
  background-color: #c1c8ce;
  color: #33a0ff;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form--text-input {
  display: flex;
  flex-direction: column;
}
.form-lable {
  /* margin-bottom: 8px; */
}
.form-input--text {
  /* margin-top: 8px; */
  border-color: 1px solid rgb(162, 158, 158);
  /* height: 23px; */
}
.form-input--text-small {
  /* font-size: 10px; */
  /* padding: 12px; */
  height: 23px;
}
.form-input--text-large {
  /* padding: 12px; */
  /* font-size: 16px; */
  height: 28px;
}
/* change input number default style */
input[type="number"] {
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: #212121;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type="number"] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: 0.5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}

.input-btn {
  display: flex;
  align-items: center;
  /* height: 40rem; */
  /* justify-content: center; */
  /* flex-direction: column; */
}

.checkbox-blue {
  accent-color: #33a0ff;
}
.checkbox-black {
  accent-color: black;
}
.checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  /* flex-direction: row; */
}

.wrapper {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-options {
  display: flex;
  gap: 10px;
}
.header-btns {
  display: flex;
  gap: 25px;
}
.header-btns--basket {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header-btns--profile,
.header-btns--search {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  gap: 5px;
}
.header-price {
  font-size: small;
  color: rgba(115, 123, 128, 0.518);
}

section {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 600px;
  color: #333;
}

section h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 4px;
  display: inline-block;
  vertical-align: top;
}

section p {
  margin: 1em 0;
}

section a {
  text-decoration: none;
  color: #1ea7fd;
}

section ul {
  padding-left: 30px;
  margin: 1em 0;
}

section li {
  margin-bottom: 8px;
}

section .tip {
  display: inline-block;
  border-radius: 1em;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  background: #e7fdd8;
  color: #66bf3c;
  padding: 4px 12px;
  margin-right: 10px;
  vertical-align: top;
}

section .tip-wrapper {
  font-size: 13px;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

section .tip-wrapper svg {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 4px;
  vertical-align: top;
  margin-top: 3px;
}

section .tip-wrapper svg path {
  fill: #1ea7fd;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product-block--column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: -webkit-max-content;
  width: max-content;
  /* border: 2px solid black; */
  padding: 35px 15px;
}
.product-block--row {
  flex-direction: row;
  gap: 20px;
  padding: 35px 25px;
}
.product-block--line {
  height: 2px;
  width: 100%;
  background-color: #e5e8ea;
  margin-bottom: 10px;
}
.product-block--stars {
  margin-bottom: 10px;
}
.product-block--img {
  margin-bottom: 20px;
}
.product-block--img-container {
  position: relative;
}
.product-block--name {
  margin-bottom: 20px;
  font-weight: bolder;
}
.product-block--border {
  border: 2px solid #e5e8ea;
}
.product-block--background {
  background-color: #f1f3f4;
}
.product--price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: red;
}
.product--old-price {
  text-decoration: line-through;
  color: #c1c8ce;
}
/* product inline */
.product-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  gap: 20px;
  /* border: 1px solid red; */
}
.product-inline--img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.product-inline--img-container {
  position: relative;
  padding: 20px 10px;
  border: 2px solid #f1f3f4;
  height: 100%;
  width: 50%;
}
.badge--hot {
  position: absolute;
  left: 5px;
  top: 10px;
  height: 15px;
}
.product-inline--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* border: 1px solid rebeccapurple; */
  height: 100%;
}
.product-inline--name {
  font-size: large;
  font-weight: bolder;
}
.product-inline--review-container {
  display: flex;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
}
.product-inline--review {
  font-size: smaller;
  color: #bbc1c5;
}
.product-inline--submit-review {
  font-size: small;
  color: #2e90e5;
  font-weight: bold;
  text-decoration: none;
}
.small-star {
  height: 10px;
}
.product-inline--description {
  font-size: small;
  text-align: left;
}
.product-inline--btns {
  display: flex;
  justify-content: center;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product-overlay {
  background-color: #f6f7f8e6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}


/*# sourceMappingURL=main.74275729.css.map*/